[package]
name = "pmm"
version = "0.1.0"
edition = "2021"

[lib]
path = "src/lib.rs"
test = false
bench = false

[dependencies]
spin = "0.10.0"
linked_list_allocator = { version = "0.10.5", features = ["use_spin"], default-features = false }

[features]
default = []
aarch64 = []